@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  background-color: #000;
  height: 7% !important;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav-bar a {
  text-decoration: none;
}

.left h3 {
  font-family: "Fjalla One", sans-serif !important;
  cursor: pointer;
}

.left, .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  flex: 20%;
  justify-content: flex-start;
  margin-left: 2%;
  color: white;
}
.left a {
  text-decoration: none;
  color: white;
}

.right {
  flex: 80%;
  margin-left: 40.5%;
  justify-content: flex-start;
  gap: 2.2em;
}
.right h3 {
  font-size: 0.85em;
  cursor: pointer;
  opacity: 0.45;
  transition: 0.35s ease;
  letter-spacing: 3px;
  color: white;
}
.right h3:hover {
  opacity: 1;
}
.right #one {
  opacity: 1;
}

@media screen and (max-width: 1220px) {
  .right {
    margin-left: 5% !important;
  }
}
@media screen and (max-width: 931px) {
  .right {
    margin-left: 0% !important;
  }
}
.strike {
  text-decoration: line-through;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
  opacity: 1 !important;
}

.onee {
  text-decoration: line-through;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}

h3 {
  transition: 1.2s all ease !important;
}

.carousel {
  margin-top: 3%;
  margin-left: 1.8%;
  display: flex;
  gap: 0.75em;
  height: 87.6%;
  width: 100vw;
  border-radius: 1px;
}
.carousel .carousel-one {
  height: 100%;
  width: 25%;
  cursor: pointer;
}
.carousel .carousel-one video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel-two {
  height: 100%;
  width: 13.25%;
  cursor: pointer;
}
.carousel .carousel-two img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel div {
  filter: grayscale(80%);
}
.carousel div:hover {
  filter: grayscale(0);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  width: 20%;
}

::-webkit-scrollbar-thumb {
  background: grey !important;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}

@media screen and (min-width: 1220px) and (max-width: 1344px) {
  .right {
    margin-left: 34.5%;
  }
}
.small {
  width: 13.25%;
}

.large {
  width: 25%;
}

.carousel-two:hover, .carousel-one:hover {
  width: 25%;
}

.carousel-two, .carousel-one {
  transition: 2s ease;
  transition-delay: 0.45s;
}

@media screen and (max-width: 790px) {
  .check {
    color: white;
    cursor: pointer;
    display: block !important;
  }
  #check {
    display: none;
  }
  .right h3 {
    display: none;
  }
  .right {
    flex: 50%;
    justify-content: flex-end;
    gap: 2.2em;
    margin-right: 2.5%;
  }
  .right h3 {
    font-size: 0.85em;
    cursor: pointer;
    opacity: 0.45;
    transition: 0.35s ease;
    letter-spacing: 3px;
    color: white;
  }
  .right h3:hover {
    opacity: 1;
  }
  .right #one {
    opacity: 1;
  }
  .left {
    flex: 50%;
  }
}
#check, .check {
  display: none;
}

.menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100vh;
  width: 100%;
  background-color: #000;
  top: 50px;
  left: -200%;
  position: fixed;
  text-align: center;
  transition: 1.4s all ease;
}
.menu .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  color: white;
  position: relative;
  top: 35%;
  left: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, -20%);
}
.menu .column h3 {
  display: block;
}
.menu .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 34px;
  width: 100%;
}
.menu .footer i {
  margin-right: 3%;
}
.menu .footer h2 {
  margin-right: 20%;
}

#check:checked ~ .menu {
  left: 0;
}

@media screen and (max-width: 1300px) {
  #car-four, #car-five, #car-six {
    display: none;
  }
  #car-one, #car-two, #car-three {
    width: 70%;
  }
  .carousel-one {
    margin-left: 2%;
  }
  .text {
    bottom: 160px !important;
    left: 30px !important;
  }
}
@media screen and (max-width: 650px) {
  #car-two, #car-three {
    display: none;
  }
  #car-one {
    width: 95vw;
  }
  .text {
    bottom: 105px !important;
    left: 25px !important;
  }
  .text {
    opacity: 1 !important;
  }
  .red-line {
    margin-top: 4.95% !important;
  }
}
.text {
  color: rgb(231, 212, 212);
  position: absolute;
  bottom: 105px;
  left: -5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.65%;
  transition: 0.7s ease all;
  font-family: "Poppins", sans-serif;
  opacity: 0;
  z-index: 999;
}
.text h4 {
  font-size: 0.75em;
}

.text1 {
  color: rgb(246, 238, 238);
  position: absolute;
  bottom: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.65%;
  transition: 0.7s ease all;
  font-family: "Poppins", sans-serif;
  opacity: 0;
  z-index: 999;
}
.text1 h4 {
  font-size: 0.75em;
}

.red {
  transition: 0.4s ease-in;
}
.red:hover {
  color: rgb(250, 19, 19);
}

.red-line {
  background-color: red;
  height: 3px;
  margin-left: 1.85%;
  margin-top: 2.87%;
  opacity: 0.74;
  -webkit-animation: 5.2s ease liner infinite;
          animation: 5.2s ease liner infinite;
}

@-webkit-keyframes liner {
  0% {
    width: 0%;
  }
  50% {
    width: 90vw;
  }
  100% {
    width: 0%;
  }
}

@keyframes liner {
  0% {
    width: 0%;
  }
  50% {
    width: 90vw;
  }
  100% {
    width: 0%;
  }
}
.highlights {
  width: 99.9vw;
  height: 90vh;
  margin-top: 0.75%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.highlights .vid {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.highlights .title {
  position: absolute;
  top: 12%;
  color: orange;
  left: 2.9%;
  font-family: "Poppins", sans-serif;
  font-size: 1.55em;
}
.highlights .title::after {
  content: "";
  width: 2px;
  height: 48px;
  background-color: orange;
  position: absolute;
  margin-left: 4.5%;
}
.highlights .flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 3%;
  bottom: 15%;
}
.highlights .seper {
  font-size: 1.5em;
  color: white;
  font-family: "Poppins", sans-serif;
}
.highlights .nav-btns {
  display: flex;
  gap: 0.65em;
  margin-top: 15%;
}
.highlights .nav-btns .btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s ease-in all;
}
.highlights .nav-btns .btn:hover {
  opacity: 0.2 !important;
}
.highlights .nav-btns .btn:nth-of-type(1) {
  opacity: 0.2;
}

.back {
  margin-left: 60%;
}

.backa {
  margin-left: 0%;
  transition: 1.5s ease all;
}

.remove {
  transition: none;
  margin-left: auto;
}

.ursu {
  position: relative;
}
.ursu video {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100vw;
  height: 100%;
  max-width: 100%;
}
.ursu button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 1px red solid;
  cursor: pointer;
  -webkit-animation: 3s ease-out fade infinite;
          animation: 3s ease-out fade infinite;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.ursu button:before {
  width: 70px;
  height: 70px;
  position: absolute;
  border: 1px red solid;
  content: "";
  border-radius: 100%;
  -webkit-animation: 3s ease-out fade-out infinite;
          animation: 3s ease-out fade-out infinite;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.ursu button img {
  width: 26px;
  height: auto;
}

@-webkit-keyframes fade {
  50% {
    width: 70px;
    height: 70px;
  }
  100% {
    width: 45px;
    height: 45px;
  }
}

@keyframes fade {
  50% {
    width: 70px;
    height: 70px;
  }
  100% {
    width: 45px;
    height: 45px;
  }
}
@-webkit-keyframes fade-out {
  50% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 70px;
    height: 70px;
  }
}
@keyframes fade-out {
  50% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 70px;
    height: 70px;
  }
}
.newsletter {
  position: relative;
  width: 100vw;
  height: 90vh;
}
.newsletter .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 5%;
  text-align: center;
  gap: 0.9em;
}
.newsletter .icons i {
  transition: 300ms all ease;
  opacity: 0.7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.newsletter .icons i:hover {
  opacity: 0.5;
}
.newsletter .form {
  font-family: "Poppins", sans-serif;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  padding: 100px 60px;
  min-width: 900px;
  margin-top: 4%;
}
.newsletter .form a {
  text-decoration: underline;
  cursor: pointer;
}
.newsletter .form .check-box {
  background-color: #0d0d0d;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.newsletter .form .check-box:after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  background-color: white;
  cursor: pointer;
}
.newsletter .form .flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.newsletter .form h1 {
  font-size: 2rem;
}
.newsletter .form p {
  max-width: 550px;
  text-align: center;
  margin-top: 2%;
}
.newsletter .form #input {
  width: 50%;
  height: 50px;
  border-radius: 30px;
  border: white 2px solid;
  background-color: inherit;
  outline: none;
  margin-top: 4.2%;
  color: white;
  text-align: center;
  transition: 400ms ease all;
}
.newsletter .form #input::-moz-placeholder {
  text-align: center;
}
.newsletter .form #input:-ms-input-placeholder {
  text-align: center;
}
.newsletter .form #input::placeholder {
  text-align: center;
}
.newsletter .form #input:focus {
  border-color: red;
}
.newsletter .form button {
  width: 50%;
  height: 50px;
  margin-top: -3.5%;
  border-radius: 30px;
  transition: 100ms ease;
  border: none;
  background-color: #f54f00;
  color: white;
  cursor: pointer;
}
.newsletter .form button:hover {
  opacity: 0.9;
}

.lines-div div {
  position: absolute;
  width: 20%;
  bottom: 50px;
  height: 2px;
  background-color: grey;
  margin-left: 7.5%;
}
.lines-div .line-2 {
  left: 22%;
}
.lines-div .line-3 {
  left: 44%;
}
.lines-div .line-4 {
  left: 66%;
}

@media screen and (max-width: 990px) {
  .form {
    min-width: 68% !important;
    background-color: #000 !important;
    height: 70vh !important;
  }
  .form #input {
    width: 80% !important;
  }
  .form button {
    width: 80% !important;
    font-size: 0.7em;
  }
  .form p {
    font-size: 0.9em;
  }
  .form .icons {
    margin-top: 10% !important;
  }
}
@media screen and (min-width: 990px) {
  #input, .form button {
    width: 33% !important;
  }
  .form button {
    margin-top: -2.5% !important;
  }
}/*# sourceMappingURL=style.css.map */